div {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.card-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
input[name="name"] {
    width: 100%;
    max-width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; 
    margin: 0 auto; 
    margin-bottom: 20px;
}
  
th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
  
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
  
button {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
input[name="front"],
input[name="back"] {
    width: 100%;
    max-width: 200px; /* Limit input box to 200px in width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button:last-child {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button.disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}
  
Link {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s;
}

  