/* Style the main container */
div {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Style the homepage title */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; /* Set title text color to black */
  }
  
  /* Style the link to create a new deck */
  a {
    text-decoration: none;
    background-color: #007BFF;
    color: white; /* Set text color to white */
    padding: 10px 0; /* Limit button width to 200px */
    width: 200px; /* Limit button width to 200px */
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block; /* Ensure buttons are inline */
  }
  
  a:hover {
    background-color: #0056b3;
  }
  
  /* Style the list of decks */
  h3 {
    font-size: 20
  }  